* {
    margin: 0;
    padding: 0;
}

/* Paleta de colores */
/* 
--oxford-blue: #0a1128ff;
--royal-blue-dark: #001f54ff;
--indigo-dye: #034078ff;
--cg-blue: #1282a2ff;
--white: #fefcfbff;
 */
.body {
    background-color: #034078;
}

.globalFont {
    font-family: 'Aleo', serif;
}

.logo {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
    min-height: 10rem;
}

.titleAndNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titleAndNav h1 {
    color: #034078;
    margin: 5px;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigationButtons a {
    color: white;
    text-decoration: none;
    padding: 5px;

}

.navigationButtons li {
    list-style-type: none;
    background-color: #1282a2;
    border: 3px #034078 solid;
    padding: 5px;
    margin: 10px;
}

.navigationButtons li:hover {
    list-style-type: none;
    background-color: #034078;
    border: 3px #1282a2 solid;
    cursor: pointer;
    transform: rotate(360deg);
    transition: .5s;
}

.footer {
    background-color: #1282a2;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    color: white;
    min-height: 10rem;
}

.footer section ul li {
    list-style-type: none;
    padding: 5px;
}

.footer section ul li a {
    color: white;
    text-decoration: none;
}

.footer section ul li a:hover {
    color: rgb(0, 0, 0);
}

.footer section ul li h3 {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;

}

.main {
    height: 70vh;
    min-height: 40rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFaq {
    height: 100%;
    display: block;
}

.mainContacto {
    height: 80vh;
    min-height: 50rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainNews {
    height: 100vh;
    min-height: 100%;
    overflow-y: scroll;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.mainLearn {
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotations {
    padding: 100px;
}

.main .quotations .table td,
th {
    border: 1px solid;
    border-color: white;
    padding: 20px;
}

.main .quotations .table th {
    background-color: #1282a2;
}

.main .quotations .table .centered {
    padding: auto;
}

.contacto {
    background-color: #1282a2;
    padding: 50px;
}

.formContacto {
    display: flex;
    flex-direction: column;
}

.formContacto div {
    padding: 10px;
}

.formContactoItem {
    display: flex;
    flex-direction: column;
}

.faq {
    display: flex;
    flex-direction: column;
    padding: 50px;
    min-height: 70vh;
}

.faq article {
    margin-bottom: 25px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h2 {
    margin: 30px;
}

.newsItem {
    display: flex;
    padding: 50px;
}

.newsItem img {
    margin: 15px;
    height: 200px;
}

.newsItem img:hover {
    filter: blur(5px);
    transition: .5s;
    cursor: pointer;
}

.newsItem article {
    margin-left: 10px;
}

.newsItem article p {
    margin-top: 30px;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn section {
    margin: 5px;
    padding: 5px;
    background-color: #1282a2;
    width: 70vw;
}

.cryptoGrid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "btc eth usdt bnb"
        "solana Polkadot Avalanche Polygon"
        "DAI LiteCoin ChainLink Tron"
        "Algorand OneInch RavenCoin PaxGold";
    /* background-color: #303030; */
    align-content: center;
    justify-items: center;
    align-items: end;
}

.btc {
    grid-area: btc;
}

.eth {
    grid-area: eth;
}

.usdt {
    grid-area: usdt;
}

.bnb {
    grid-area: bnb;
}

.solana {
    grid-area: solana;
}

.Polkadot {
    grid-area: Polkadot;
}

.Avalanche {
    grid-area: Avalanche;
}

.Polygon {
    grid-area: Polygon;
}

.DAI {
    grid-area: DAI;
}

.LiteCoin {
    grid-area: LiteCoin;
}

.ChainLink {
    grid-area: ChainLink;
}

.Tron {
    grid-area: Tron;
}

.Algorand {
    grid-area: Algorand;
}

.OneInch {
    grid-area: OneInch;
}

.RavenCoin {
    grid-area: RavenCoin;
}

.PaxGold {
    grid-area: PaxGold;
}

.crypto_logo {
    width: 100px;
    height: 100px;
}

.crypto_logo:hover {
    transform: scale(1.4);
    transition: .5s;
    cursor: pointer;
}

.cripto_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cripto_card div {
    margin: 10px;
}

@media (max-width: 768px) {

    .header {
        height: 60vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 30rem;
    }

    .logo {
        margin: 0px;
    }

    .titleAndNav {
        text-align: center;
    }

    .navigationButtons {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        height: 20vh;
        min-height: 15rem;
    }

    .main {
        height: 140vh;
        align-items: center;
        flex-direction: column;
        min-height: 80rem;
    }

    .mainLearn {
        height: 40vh;
        align-items: center;
        flex-direction: column;
    }

    .mainContacto {
        height: 10vh;
        align-items: center;
        flex-direction: column;
        min-height: 50rem;
    }

    .mainNews {
        height: 180vh;
    }

    .cryptoGrid {
        display: grid;
        width: 600px;
        height: 600px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "btc eth"
            "usdt bnb"
            "solana Polkadot"
            "DAI LiteCoin"
            "RavenCoin PaxGold"
            "Avalanche Polygon"
            "ChainLink Tron"
            "Algorand OneInch";
    }

    .learn section {
        width: 90vw;
    }


    .newsItem {
        padding: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .main {
        height: 260vh;
        min-height: 30rem;
        min-height: 160rem;
    }

    .mainLearn {
        height: 70vh;
    }

    .mainContacto {
        height: 10vh;
        min-height: 50rem;
    }

    .learn section {
        width: 90vw;
    }

    .mainNews {
        height: 100%;
    }

    .cryptoGrid {
        display: grid;
        width: 100vw;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "btc"
            "eth"
            "usdt"
            "bnb"
            "solana"
            "Polkadot"
            "DAI"
            "LiteCoin"
            "RavenCoin"
            "PaxGold"
            "Avalanche"
            "Polygon"
            "ChainLink"
            "Tron"
            "Algorand"
            "OneInch";
    }

}