* {
  margin: 0;
  padding: 0; }

.body {
  background-color: #034078ff; }

.globalFont {
  font-family: 'Aleo', serif; }

#index .main, #news .mainNews, #learn .mainLearn, #contact .mainContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70vh; }

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: center;
  min-height: 10rem; }
  .header .logo {
    height: 100px;
    width: 100px;
    margin: 20px; }
  .header .titleAndNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .header .titleAndNav h1 {
      color: #034078ff;
      margin: 5px; }
  .header .navigationButtons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .header .navigationButtons a {
      color: white;
      text-decoration: none;
      padding: 5px; }
    .header .navigationButtons li {
      list-style-type: none;
      background-color: #1282a2ff;
      border: 3px #034078ff solid;
      padding: 5px;
      margin: 10px; }
      .header .navigationButtons li:hover {
        list-style-type: none;
        background-color: #034078ff;
        border: 3px #1282a2ff solid;
        cursor: pointer;
        transform: rotate(360deg);
        transition: .5s; }

.footer {
  background-color: #1282a2ff;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: white;
  min-height: 10rem; }
  .footer section ul li {
    list-style-type: none;
    padding: 5px; }
    .footer section ul li a {
      color: white;
      text-decoration: none; }
      .footer section ul li a:hover {
        color: black; }
    .footer section ul li h3 {
      color: white;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 10px; }

#index .main {
  min-height: 40rem; }

#index .cryptoGrid {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "btc eth usdt bnb" "solana Polkadot Avalanche Polygon" "DAI LiteCoin ChainLink Tron" "Algorand OneInch RavenCoin PaxGold";
  align-content: center;
  justify-items: center;
  align-items: end; }

#index .btc {
  grid-area: btc; }

#index .eth {
  grid-area: eth; }

#index .usdt {
  grid-area: usdt; }

#index .bnb {
  grid-area: bnb; }

#index .solana {
  grid-area: solana; }

#index .Polkadot {
  grid-area: Polkadot; }

#index .Avalanche {
  grid-area: Avalanche; }

#index .Polygon {
  grid-area: Polygon; }

#index .DAI {
  grid-area: DAI; }

#index .LiteCoin {
  grid-area: LiteCoin; }

#index .ChainLink {
  grid-area: ChainLink; }

#index .Tron {
  grid-area: Tron; }

#index .Algorand {
  grid-area: Algorand; }

#index .OneInch {
  grid-area: OneInch; }

#index .RavenCoin {
  grid-area: RavenCoin; }

#index .PaxGold {
  grid-area: PaxGold; }

#index .crypto_logo {
  width: 100px;
  height: 100px; }
  #index .crypto_logo:hover {
    transform: scale(1.4);
    transition: .5s;
    cursor: pointer; }

#index .cripto_card {
  display: flex;
  flex-direction: column;
  align-items: center; }

#index .cripto_card div {
  margin: 10px; }

#news .mainNews {
  height: 100vh;
  min-height: 100%;
  overflow-y: scroll; }

#news .news {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #news .news h2 {
    margin: 2rem;
    font-weight: bold;
    font-size: 2rem; }

#news .newsItem {
  display: flex;
  padding: 1rem;
  max-width: 70rem; }
  #news .newsItem img {
    margin: 15px;
    height: 200px; }
    #news .newsItem img:hover {
      filter: blur(5px);
      transition: .5s;
      cursor: pointer; }
  #news .newsItem article {
    margin-left: 10px; }
    #news .newsItem article h3 {
      font-weight: bold;
      font-size: 1.5rem; }
  #news .newsItem article p {
    text-align: justify;
    margin-top: 30px; }

#faq .mainFaq {
  height: 100%;
  display: block; }

#faq .faq {
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-height: 70vh;
  max-width: 50rem; }
  #faq .faq article {
    margin-bottom: 25px; }

#learn .mainLearn {
  height: 100%;
  min-height: 70vh; }

#learn .learnContent {
  max-width: 60rem;
  padding: 1rem 1rem 1rem 1rem; }

#learn .learn {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #learn .learn section {
    margin: 5px;
    padding: 5px;
    background-color: #1282a2ff;
    width: 70vw; }

#learn .learnText {
  text-align: justify; }

#learn .learnTitle {
  font-weight: bold;
  text-align: center; }

#contact .mainContacto {
  height: 80vh;
  min-height: 50rem; }

#contact .contacto {
  background-color: #1282a2ff;
  padding: 50px; }

#contact .formContacto {
  display: flex;
  flex-direction: column; }
  #contact .formContacto div {
    padding: 10px; }

#contact .formContactoItem {
  display: flex;
  flex-direction: column; }

@media (max-width: 768px) {
  #contact .header {
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30rem; }
  #contact .logo {
    margin: 0px; }
  #contact .titleAndNav {
    text-align: center; }
  #contact .navigationButtons {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  #contact .footer {
    flex-direction: column;
    height: 20vh;
    min-height: 15rem; }
  #contact .main {
    height: 140vh;
    align-items: center;
    flex-direction: column;
    min-height: 80rem; }
  #contact .mainLearn {
    height: 40vh;
    align-items: center;
    flex-direction: column; }
  #contact .mainContacto {
    height: 10vh;
    align-items: center;
    flex-direction: column;
    min-height: 50rem; }
  #contact .mainNews {
    height: 180vh; }
  #contact .cryptoGrid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "btc eth" "usdt bnb" "solana Polkadot" "DAI LiteCoin" "RavenCoin PaxGold" "Avalanche Polygon" "ChainLink Tron" "Algorand OneInch"; }
  #contact .learn section {
    width: 90vw; }
  #contact .newsItem {
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column; } }

@media (max-width: 480px) {
  #contact .main {
    height: 260vh;
    min-height: 30rem;
    min-height: 160rem; }
  #contact .mainLearn {
    height: 70vh; }
  #contact .mainContacto {
    height: 10vh;
    min-height: 50rem; }
  #contact .learn section {
    width: 90vw; }
  #contact .mainNews {
    height: 100%; }
  #contact .cryptoGrid {
    display: grid;
    width: 100vw;
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "btc" "eth" "usdt" "bnb" "solana" "Polkadot" "DAI" "LiteCoin" "RavenCoin" "PaxGold" "Avalanche" "Polygon" "ChainLink" "Tron" "Algorand" "OneInch"; } }

@media (max-width: 1024px) {
  #news .mainNews {
    height: 140vh; } }

@media (max-width: 768px) {
  #index .main {
    height: 140vh;
    min-height: 80rem;
    align-items: center;
    flex-direction: column; }
  #index .cryptoGrid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "btc eth" "usdt bnb" "solana Polkadot" "DAI LiteCoin" "RavenCoin PaxGold" "Avalanche Polygon" "ChainLink Tron" "Algorand OneInch"; }
  #learn .mainLearn {
    align-items: center;
    flex-direction: column; }
  #learn .learn section {
    width: 90vw; }
  .header {
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30rem; }
    .header .logo {
      margin: 0px; }
    .header .titleAndNav {
      text-align: center; }
    .header .navigationButtons {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center; }
  .footer {
    flex-direction: column;
    height: 20vh;
    min-height: 15rem; }
  #contact .mainContacto {
    height: 10vh;
    min-height: 50rem;
    align-items: center;
    flex-direction: column; }
  #news .newsItem {
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column; } }

@media (max-width: 480px) {
  #index .main {
    height: 260vh;
    min-height: 160rem; }
  #index .cryptoGrid {
    display: grid;
    width: 100vw;
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "btc" "eth" "usdt" "bnb" "solana" "Polkadot" "DAI" "LiteCoin" "RavenCoin" "PaxGold" "Avalanche" "Polygon" "ChainLink" "Tron" "Algorand" "OneInch"; }
  #learn .learn section {
    width: 90vw; }
  #contact .mainContacto {
    height: 10vh;
    min-height: 50rem; }
  #news .mainNews {
    height: 100%; } }
