// FAQ
#faq {
    .mainFaq {
        height: 100%;
        display: block;
    }

    .faq {
        display: flex;
        flex-direction: column;
        padding: 50px;
        min-height: 70vh;
        max-width: 50rem;
        article {
            margin-bottom: 25px;
        }
    }

}