// LEARN
#learn {
    .mainLearn {
        @extend %mainGeneric;
        height: 100%;
        min-height: 70vh;
    }
    .learnContent{
        max-width: 60rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    .learn {
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            margin: 5px;
            padding: 5px;
            background-color: $cg-blue;
            width: 70vw;
        }
    }
    .learnText{
        text-align: justify;
    }
    .learnTitle{
        font-weight: bold;
        text-align: center;
    }
}