@media (max-width: 1024px) {
    #news {
        .mainNews {
            height: 140vh;
        }
    }
}

@media (max-width: 768px) {

    #index {
        .main {
            @include heightStyle(140vh, 80rem);
            align-items: center;
            flex-direction: column;
        }

        .cryptoGrid {
            display: grid;
            width: 600px;
            height: 600px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "btc eth"
                "usdt bnb"
                "solana Polkadot"
                "DAI LiteCoin"
                "RavenCoin PaxGold"
                "Avalanche Polygon"
                "ChainLink Tron"
                "Algorand OneInch";
        }
    }

    #learn {
        .mainLearn {
            align-items: center;
            flex-direction: column;
        }

        .learn section {
            width: 90vw;
        }
    }

    .header {
        height: 60vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 30rem;

        .logo {
            margin: 0px;
        }

        .titleAndNav {
            text-align: center;
        }

        .navigationButtons {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }

    .footer {
        flex-direction: column;
        @include heightStyle(20vh, 15rem);
    }

    #contact {
        .mainContacto {
            @include heightStyle(10vh, 50rem);
            align-items: center;
            flex-direction: column;
        }
    }

    #news {

        .newsItem {
            padding: 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

}

@media (max-width: 480px) {
    #index {

        .main {
            @include heightStyle(260vh, 160rem);
        }

        .cryptoGrid {
            display: grid;
            width: 100vw;
            height: 1200px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "btc"
                "eth"
                "usdt"
                "bnb"
                "solana"
                "Polkadot"
                "DAI"
                "LiteCoin"
                "RavenCoin"
                "PaxGold"
                "Avalanche"
                "Polygon"
                "ChainLink"
                "Tron"
                "Algorand"
                "OneInch";
        }
    }

    #learn {
        // .mainLearn {
            // height: 70vh;
        // }

        .learn section {
            width: 90vw;
        }

    }

    #contact {
        .mainContacto {
            @include heightStyle(10vh, 50rem);
        }
    }

    #news {
        .mainNews {
            height: 100%;
        }
    }

}